

body {
    font-family: Arial, Verdana, sans-serif;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #444444;
}



section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


h1 {
    color: #444444;
    background-color: transparent;
    font-size: 350%;
    text-align: center;
    font: Impact;
    font-variant: small-caps
}

h2 {
    color: #444444;
    background-color: transparent;
    font-size: 150%;
    text-align: center;
}





/* Links */

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #8B7A62;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}



/* Navigation Bars */


nav {
    width: 100%;
    font-size: 150%;
    text-align: center;
}

nav ul li{
    display: inline;
}



/* Bibliography */


cite {
    text-align: center;
}


/* Sidebar - Float */

#sidebar {
    width: 20%;
    float: right;
    background-color: orange;
    color: #FFFFFF;
    margin: 2%;
    padding: 0.5rem;
}


.social li {
    list-style-type: none;
    display: inline;
}


/* Content */

.poem {
    list-style-type: none;
}



/* Image */


figure {
    float: left;
}


.oval {
    border-radius: 50%;
    width:40%;
}

figcaption {
    text-align: center;
    font-size: 70%;
    width:80%;
}


/* Table */


table {
    width: 600px;
}

th, td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: left;
}
tr.even {
    background-color: #efefef;
}
tr:hover {
    background-color: orange;
}



/* Footer */

.bibliography li {
    list-style-type: none;
    display: inline;

}

footer {
    position:absolute;
    width:100%;
    bottom:0px;
}