

body {
    font-family: Arial, Verdana, sans-serif;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #444444;
}

header {
    background-color: #efefef;
    padding: 1rem 1rem;
    width: 100%;
}

section {
    width:60%;
    margin: 5rem 0rem 20rem 10rem;
    padding-bottom: 5%;
    font-size: 150%

}

h1 {
    color: #444444;
    background-color: transparent;
    font-size: 350%;
    text-align: center;
    font: Impact;
    font-variant: small-caps
}

h2 {
    color: #444444;
    background-color: transparent;
    font-size: 200%;
    text-align: center;
    padding-bottom: 20px;
}

p {
    padding: 1rem;
}

/* Navigation Bars */


nav {
    width: 100%;
    font-size: 150%;
    text-align: center;
}

nav ul li{
    display: inline;
    padding-right: 30px;
}



/* Sidebar - Float */

#sidebar {
    width: 18%;
    float: right;
    background-color: orange;
    color: #FFFFFF;
    margin: 2%;
    padding: 0.5rem;
}


.social li {
    list-style-type: none;
    padding-right: 30px;
    display: inline;
}

/* Image */

figure {
    float: left;
}


.oval {
  display: block;
  align-content: center;
  border-color: orange;
  margin: auto;
  border-radius: 50%;
}

figcaption {
    text-align: center;
    font-size: 70%;
}

/* Links */

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #8B7A62;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}


/* Social Links */


.social li {
    list-style-type: none;
    display: inline;
}



/* Content */

.poem {
    list-style-type: none;
    line-height: 150%;
    font-size: 150%;
    margin: 20rem 10rem 40rem 10rem;
}



/* Table */

table {
    margin-left: auto;
    margin-right: auto;
}


th, td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: left;
}

.even {
    background-color: #efefef;
}
tr:hover {
    background-color: orange;
}

caption {
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: orange;
}


/* Footer */

.bibliography li {
    list-style-type: none;
    display: inline;

}

cite {
    text-align: center;
}

.cite-sidebar sup {
    color: white;
}

footer {
    margin-top: 5em;
    position: absolute;
    background-color: #efefef;
    bottom:0px;
    width: 100%;
}


